* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a, a:hover, a:focus, a:visited {
    text-decoration: none;
    color: inherit;
}
button:focus {
    outline: none!important;
}
.bg-img {
    background-image: url("../../../Influencer-Networks-App-inner-pages/img/photo.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.img-fluid {
    /*max-width: 100%;*/
    height: 100%;
    width: 100%;
}

.flex-1 {
    flex: 1;
}
.fs-13 {
    font-size: 13px!important;
}
.bg-gradient {
    background-image: url("../../../Influencer-Networks-App-inner-pages/img/freeTrial -bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 1514px;

}
.bg-white-whit-shadow {
    background: #FFFFFF;
    box-shadow: 0 4px 20px #13101F;
    border-radius: 15px;
    overflow: hidden;
}
.bg-white-whit-shadow .tab-content{
    padding: 39px 39px 48px;
}
.nav-tabs {
    border: 0;
}
.nav-tabs .nav-link {
    height: 100px;
    font-size: 25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FF2A13;
    background-color: #faf2f2;
    border-color: transparent;
    height: 100px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.fs-72-bold-white {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    color: #FAF2F2;
}

.fs-24-bold-black {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    text-align: center;
}
.fs-18-gray {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #656565;
}
.fs-18-gray-med {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4C505F;
}
.fs-14-gray {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #656565;
}
.fs-14-black {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.fs-12-gray {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #646464;
}
.fs-23 {
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
}
.fs-23-gray {
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;
    color: #A6A6A6;
}
.fs-45 {
    font-size: 45px;
    line-height: 84px;
}
.content-header {
    margin-left:100px;
}
.form-control.pr-input {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 35px !important;
    height: 60px;
    width: 100%;
    margin-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}
.form-control.pr-input::placeholder {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #A6A6A6;
}

.angle-down {
    position: absolute;
    right: 30px;
    top: 48px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: '';
}
.rightSide-content  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 100px 77px  15px;
}
.chat.abs {
    position: absolute;
    right: -100px;
    bottom: 0;
}
.white-space {
    width: 162px;
    height: 152px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(196, 196, 196, 0.8);
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    border: 1px solid transparent;
}
.white-space:hover {
    border: 1px solid #FF2A13;
    box-shadow: none;
}
.error {
    color:#FF2A13;
}
.white-space p {
  margin-bottom:  0;
}
.flag.abs {
    position: absolute;
    left: 15px;
    top: 44px;
}
.size-75-23 {
    width: 75px;
    height: 23px;
}
.icon-file-1, .icon-List {
    cursor: pointer;
}
.card-i {
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 5px auto;
    width: 90.6mm;
    height: 20.98mm;
    color: #fff;
    font: 8px/1 "Iceland", monospace;
    background: #929294;
    border: 1px solid #929294;
    -webkit-border-radius: 10px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px;
    -moz-background-clip: padding;
    border-radius: 10px;
    background-clip: padding-box;
    overflow: hidden;
}
.pan {
    font-size: 12px;
}
.bank-name {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
    font: 800 10px "Open Sans", Arial, sans-serif;
}

.data {
    position: relative;
    z-index: 100;
    margin-left: 30px;
    text-transform: uppercase;
}
.data .pan,
.data .month,
.data .year,
.data .year:before,
.data .name-on-card,
.data .date {
    position: relative;
    z-index: 20;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
}
.data .pan:before,
.data .month:before,
.data .year:before,
.data .year:before:before,
.data .name-on-card:before,
.data .date:before,
.data .pan:after,
.data .month:after,
.data .year:after,
.data .year:before:after,
.data .name-on-card:after,
.data .date:after {
    position: absolute;
    z-index: -10;
    content: attr(title);
    color: rgba(0, 0, 0, 0.2);
    text-shadow: none;
}
.data .pan:before,
.data .month:before,
.data .year:before,
.data .year:before:before,
.data .name-on-card:before,
.data .date:before {
    top: -1px;
    left: -1px;
    color: rgba(0, 0, 0, 0.1);
}
.data .pan:after,
.data .month:after,
.data .year:after,
.data .year:before:after,
.data .name-on-card:after,
.data .date:after {
    top: 1px;
    left: 1px;
    z-index: 10;
}
.data .pan {
    position: relative;
    z-index: 50;
    margin: 0;
    letter-spacing: 1px;
    font-size: 15px;
}
.data .first-digits {
    margin: 0;
    font: 400 10px/1 "Open Sans", Arial, sans-serif;
}
.data .exp-date-wrapper {
    margin-top: 5px;
    display: flex;
    align-items: center;
    line-height: 1;
    *zoom: 1;
}
.data .exp-date-wrapper:before,
.data .exp-date-wrapper:after {
    content: " ";
    display: table;
}
.data .exp-date-wrapper:after {
    clear: both;
}
.data .exp-date-wrapper .left-label {
    float: left;
    display: inline-block;
    width: 40px;
    font: 400 10px/8px "Open Sans", Arial, sans-serif;
    letter-spacing: 0.5px;
}
.data .exp-date-wrapper .exp-date {
    display: inline-block;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.data .exp-date-wrapper .exp-date .upper-labels {
    font: 400 10px/1 "Open Sans", Arial, sans-serif;
}
.data .exp-date-wrapper .exp-date .year:before {
    content: "/";
}
.data .name-on-card {
    margin-top: 10px;
}
.data .date {
    font-size:20px
}
#stripeModal {
    margin: auto;
}
#stripeModal  .modal-content {
    padding: 20px;
    border-radius: 5px;
    height: 100%;
}

#stripeModal  .card input {
    margin: 0 !important;
    width: 85%;
}

#stripeModal  .modal-dialog {
    /* height: auto; */
    margin: auto;
    /* position: absolute; */
    left: 0;
    right: 0;
    max-width: 500px;
    height: auto;
    bottom: 0;
    top: 0;
    border-radius: 10px;
}
#stripeModal  .modal-dialog h2 {
    font-size: 24px;
}

#stripeModal  .modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    overflow-x: hidden;
    padding: 15px 0;
}

#stripeModal  .modal-header {
    padding: 0;
}

#stripeModal  .card-body {
    padding: 15px 0;
}

.payment-submit {
    background: rgb(78, 102, 54);
    border: none;
    cursor: pointer;
}

#stripeModal  .modal-header .close {
    position: absolute;
    right: 10px;
    top: -5px;
}
#stripeModal  .input-group {
    border:1px solid #d6d6d6;
}
#payment-form {
    height: 100px;
}
